/*-------------------------------------------PRESS--*/
@media print {

	/* header and footer*/
	#wpadminbar,
	#main-header,
	#footer,
	#newsletter-container,
	.copyright {
		display: none !important;
	}

	.full-page-container,
	main.full-width,
	main.max-width,
	body.admin-bar {
		margin-top: 0 !important;
	}

	/* page title */
	.page-header {
		background-image: none !important;
		min-height: 0;
	}

	.page-header .rev_slider_wrapper {
		display: none;
	}

	.page-header-contents {
		width: 100%;
		background-color: transparent;
		height: 0;
		padding: 48px 25px;
	}

	.page-header-contents h1 {
		color: #000;
	}

	.page-header-contents .page-desctiption {
		color: #000;
	}

	/* pop up */
	.pop-dark {
		display: none;
	}

	/* secondary nav and sidebars */
	.secondary-nav,
	aside {
		display: none;
	}

	#double-sidebar-contents,
	#single-sidebar-contents {
		width: 100%;
		padding: 0 25px;
		margin: 0;
	}

	/* blog */
	body.blog .page-header {
		display: none;
	}

	body.single-post .page-header {
		display: none;
	}

	.back-to-parent {
		display: none;
	}

	body.single-post .post-feed-image {
		display: none;
	}

	#viewpoint-featured article .post-feed-date,
	article.viewpoint-image .post-feed-date,
	.viewpoint-post-content .post-feed-date {
		left: 25px;
	}

	.viewpoint-post-content h2.post-title {
		margin-top: 120px;
	}

	/* events */
	body.post-type-archive-event .page-header {
		display: none;
	}

	.filter-search {
		display: none;
	}

	article.event {
		background: transparent
	}

	.event-contents .event-main-date {
		margin: 0 50px 0 0;
	}

	.event-contents .event-info {
		padding: 0;
	}

	.event-contents .event-location,
	.event-contents .event-date {
		color: #000;
		padding: 0;
		background-image: none;
		display: block;
	}

	body.single-event aside {
		display: block;
		margin: 0 0 48px 25px;
	}

	/* careers */
	body.page-template.page-id-40 .page-header {
		display: none;
	}

	/* locations */
	.location-slider {
		display: none;
	}

	body.single-locations aside {
		display: block;
		margin: 0 0 48px 25px;
	}
}